/* google font link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    font-family: 'Poppins';
    background: #F3F1FF;
    
}
/* header section start */
.header-main{
    background:rgb(4, 4, 143);
    width: 100%;
    height: 700px;
    margin-bottom: 70px;
   
}
.media-sector{
    display: none;
}
.navbar{
    width: 100%;
    height: 44px;
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    padding-top: 35px;
    margin-bottom: 20px;
    
}
nav {
   display: flex;
   justify-content: space-between;
}
nav span a{
    text-decoration: none;
    padding: 10px;
    color: white;
}
.login-link{
    background: #E02C6D;
    width: 123px;
}
#login-id{
    margin-right: 10px;
}
.header-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-part{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.header-title{
    width: 485px;
    height: 230px;
}
.header-title h3{
  font-size: 64px;
  color: white;
}
.header-link{
    padding: 10px 24px; 
    background: #E02C6D;
   
    text-decoration: none;
    color: white;
}
.header-banner img{
    width: 556.01px;
    height: 438px;
}






/* header section end */

.container{
    display: flex;
    justify-content: center;
    margin-top: 27px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
}
.player{
    background: #FFFFFF;
    border: 1px solid white ;
    padding: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15); ;
}
.player-thumbnil img{
    width: 300px;
    height: 256px;
}
.player-info{
    width: 300px;
    height: 154px;
}
.player-name{
    font-size: 28px;
    font-weight: 700;
}
.player-info p{
    font-size: 16px;
    
}
.Broadcast-section{
    margin-top: 165px;
}
.broadcast{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.broadcast-thumbnil img{
    width: 567px;
    height: 427px;
}
.broadcast-title{
    
    width: 469px;
    height: 309px;
    
}
.broadcast h3{
    font-size:48px;
}
.watch-link{
    /* width: 173px;
    height: 44px;
    background: #E02C6D;
    padding: 10px 24px;
    color: white;
    margin: 24px 0px; */
    
   
    padding: 10px 24px; 
    background: #E02C6D;
   
    text-decoration: none;
    color: white;
    
    
}
.footer-main{
    margin-top: 158px;
}

.footer-logo img{
    width: 483.87px;
    height: 110px;
}
.social-section li{
    list-style: none;
    
}
.social-section {
    display: flex;
    justify-content:center;
    padding:  0px 14px;
    margin-top: 20px;
}
.social-section a img{
    width: 32px;
    height: 32px;
    padding:  0px 14px;
    
}
.footer-end{
    text-align: center;
    margin-top: 20px;
    
}











/* responsive mobile */

@media only screen and (max-width: 600px){
    .media-sector{
        display: inline;
        
    }
    .header-main{
        width: 100%;
        height: 720px
        
    }    
    #bars{
        background: white;
        position: relative;
        left: 20px;
        top: 2px;
        border: 2px solid white;
        border-radius: 3px;
    }
    .media-nav{
        display: none;
    }
    .navbar{
        display: flex;
        justify-content: space-between;
        margin-bottom: 46px;
    }
    .header-part{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-row-gap:50px;
    }
    .header-title h3{
        width: 278px;
        height: 138px;
        font-size:36px ;
        position: relative;
        left: 22px;
        
    }
    .header-link{
        position: relative;
        left: 22px;
        
    }
    .header-banner img{
        margin-top: 50px;
        width: 329px;
        height: 260px;
        position: relative;
        left: 30px;
    }
    .login-link{
        margin-right: 20px;
    }
    .players{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 24px;
    }

    .broadcast{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .broadcast-title{
    
        width: 329px;
        height: 299px;
        margin-bottom: 29px;
    }    
    .broadcast-thumbnil img{
        width: 328px;
        height: 248px;
    } 
    .broadcast h3{
        font-size:30px;
    }
    .footer-main{
        margin-top: 43px;
    }
    .footer-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .footer-logo img{
        width: 150px;
        height: 63px;
        justify-content: center;
    }
}